/*************************/
/* CSS Styling for Game **/
/*************************/

body {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	background: url("../pictures/background2.jpg") no-repeat center;
	background-size: cover;
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Bree Serif', serif;
}

.game_title {
	text-align: center; 
}

header {
    height: 13vh;
}

.main_section {
    height: 75%;
    width: 90%;
    margin: 0 7%;
    display: inline-block;
}

.sidebar, .game-area {
    display: inline-block;
    vertical-align: text-top;
    height: 100%;
}

.game-area{
    display: inline-block;
    width: 75%;
    height: 80%;
    margin: 1% 2%;
}

.sidebar {
    display: inline-block;
    width: 10%;
    height: 100%;
    margin: 0 2%;
    font-size: 1em;
}

.aboutme_link, .label {
	color: rgba(255, 255, 255, 0.8);
}

div.row {
	height: 100%;
	width: 90%;   
    margin: 1% 4%;
}

.cardContainer {
    width: 14%;
    height: 30%;
    position: relative;
    perspective: 800px;
    display: inline-block;
    margin: 1% 1%;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card div {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.back img, .front img {
    width: 100%;
    height: 100%;
    opacity: 0.95;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

.back, {
    transform: rotateY( 180deg );
}

.card.flipped {
    transform: rotateY( 180deg );
}

footer {
    width: 100%;
    background-color: rgb(58,48,50);
}

/************************************/
/** CSS Styling for About Me Page ***/
/************************************/

.skills {
	list-style: none;
}

#myself {
	margin: 0 auto;
	opacity: 0.8;
}
